.table-empty-state {
  padding: 48px 0;
}

.table-empty-state .ant-empty-image {
  height: 48px;
  margin-bottom: 16px;
  color: #8c8c8c;
}

.table-empty-state .ant-empty-description {
  color: rgba(0, 0, 0, 0.45);
}

.table-empty-state-title {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
  margin-bottom: 8px;
}

.table-empty-state-description {
  color: rgba(0, 0, 0, 0.45);
}